.imageSliderContainer {
  height: 100%;
  width: 650px;
  position: relative;
  margin-inline: auto;
}

.prevButton,
.nextButton {
  all: unset;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.226);
}

.imageSliderContainer button.prevButton {
  left: 0;
}

.imageSliderContainer button.nextButton {
  right: 0;
}

.imageSliderContainer button svg {
  fill: black;
  stroke: white;
}

/* SPECIFIC TO THIS SLIDER  */
.imagesContainer {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 0.3s ease-in-out;
}

.buttonsContainer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.buttonsContainer button {
  cursor: pointer;
  padding: 2px;
  background-color: transparent;
  border: transparent;
}
